@use "src/modals/modal.module.css";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 2.5rem;
  box-sizing: border-box;
  padding: 2rem 0;
  width: calc(100% - 4rem);

  @media (max-width: 800px) {
    padding: 2rem 0 4rem 0;
  }
  .title {
    color: var(--color-primary);
    padding-bottom: 20px;
  }
  h3{
    font-weight: 500;
  }
  
}
